
// ============================ Подключение шрифтов ================================================== 
//&display=swap - добавить при подключении через плагин
//&subset=cyrillic-ext - добавить при подключении через плагин (необязательно)

@import url("https://fonts.googleapis.com/css?family=Jost:regular,600,700&display=swap");

// =================================================================================================== 


// ======================================== Переменные =============================================== 

// -------------- Шрифты ----------------
// Семейство шрифта по умолчанию из макета
$fontFamily: "Jost";

// Размер шрифта по умолчанию из макета
$fontSize: 18px; 



// -------------- Цвета ----------------
// Цвет шрифта по умолчанию
$mainColor: #141024b3;

// Дополнительный цвет шрифта №1
$additionalColor1: #FFF;

// Дополнительный цвет шрифта №2
$additionalColor2: #141024;

// Дополнительный цвет шрифта №3
$additionalColor3: #D52027;



//  Цвет фона по умолчанию
$mainBg: #fff;





// ----------- Контейнер --------------
// Минимальная ширина страницы
$minWidth: 320px; 

// Ширина ограничивающего контейнера шапки, включая отступы безопасности 30px (по 15px слева и справа)
$wideContainerWidth: 1750px; 

// Ширина ограничивающего контейнера главной страницы, включая отступы безопасности 30px (по 15px слева и справа)
$smallContainerWidth: 1196px; 

 

// ------------ Брейк-поинты ------------
// ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: $wideContainerWidth; 

// Планшеты, некоторые телефоны в горизонтальном положении
$tablet: 991.98px; 

// Телефоны L
$mobile: 767.98px; 

// Телефоны S
$mobileSmall: 479.98px; 

// =================================================================================================== 


// ===================== Подключение базовых стилей, заготовок, миксинов ============================= 

// Обнуляющие стили
@import "base/null";

// Миксины
@import "base/mixins";

// Общие стили
@import "base/common";

// ===================================================================================================


// ==================== Подключение стилей отдельных страниц и блоков ================================
// /* ---------------------Основные стили-------------------------*/

// Стили header
@import "blocks/header";

// Стили главной страницы
@import "blocks/index";

// Стили footer
@import "blocks/footer";

// Стили попапов
@import "blocks/popups";

// Стили спойлеров
@import "blocks/spoiler";

// ===================================================================================================




