  /*  // scrollbar-width: thin; скролл для блока с фото (для firefox) 
    // scrollbar-color: #D52027 rgb(234, 234, 234);  цвет скролла в firefox 
    // scroll-padding: 0 25px 0 0;
    // outline: 1px solid pink;
    
    &::-webkit-scrollbar { 
      // ---скролл для блока с фото (для браузеров с движком Хрома)---
      height: 15px;
      // width: 360px;
      // padding: 0 20px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 40px;
      background-color: rgb(234, 234, 234);
      margin-left: 15px;
      margin-right: 35px;
      @media (max-width: 1500px) {
        margin-right: 30px;
      } 
    }
    &::-webkit-scrollbar-thumb {
      // border-top: 1px solid rgba(20, 16, 36, 0.08);
      border: 3px solid rgb(234, 234, 234);
      border-radius: 40px;
      background-color: #D52027;
      transition: background-color 0.3s ease 0s;
      &:hover {
        background-color: #df464b;
      }
    //  ---/скролл для блока с фото (для браузерах с движком Хрома)--- */