/* ====================================spoiler======================================== */

.spoiler-popup {
  padding: 15px 0 0 0;
  overflow-y: auto;
  // .spoiler-popup__body
  &__body {
  }
  // .spoiler-popup__item
  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    & > *:not(:last-child) {
      margin: 0 0 20px;
    }
    /* &:not(:last-child) {
      margin: 0 0 30px;
    } */
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 15px;
      // margin-right: clamp(1.25rem, 0.417rem + 1.74vw, 2.5rem);
      margin: 0 -15px; // чуть сдвигаем псевдоэлемент, чтобы он не накрывал скролл
      bottom: 0;
      left: 0;
      // opacity: 0.7;
      background-color: rgba(255, 255, 255, 0.98);
      box-shadow: 0px -5px 5px 5px rgba(255, 255, 255, 0.97); 
    }
    
  }
  // .spoiler-popup__btn
  &__btn {
    display: flex;
    background-color: #D52027;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 7px;
    border-radius: 5px;
    span {
      color: #FFF;
      text-align: center;
      font-size: 16px;
      line-height: 1.6; /* 25.6px */
    }
    img {
      transform: rotate(180deg);
      flex: 0 0 10px;
      height: 10px;
      transition: transform 0.5s ease 0s;
    }
    &._img-rotate {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 23px;
        margin: 0px -15px -30px; // чуть сдвигаем псевдоэлемент, чтобы он не накрывал скролл
        bottom: 0;
        left: 0;
        // opacity: 0.7;
        background-color: #fffffffa;
        box-shadow: 0px 0px 5px 3px #fffffff7; 
      }
      img {
        transform: rotate(0deg);
      }
    }
  }
  // .spoiler-popup__text
  &__text {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    overflow-y: auto;
    padding: 0 15px;
    color: #141024;
    line-height: 1.6;
    scrollbar-width: thin; /* скролл для блока с фото (для firefox) */
    scrollbar-color: #141024 #14102414; /* цвет ползунка и трека скролла в firefox */
    &::-webkit-scrollbar {
      width: 5px;
      position: relative;
      z-index: 5;
    }
    &::-webkit-scrollbar-track {
      border-radius: 40px;
      background-color: #14102414;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 40px;
      background-color: #141024;
    }
    // .spoiler-popup__text_active
    &_active {
      // display: block;
      opacity: 1;
      visibility: visible;
      max-height: 263px; 
      padding: 10px 15px 15px;
    }
    & > *:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
}
.university {
  // .university__title
  &__title {
  }
  // .university__items
  &__items {
  }
}
.title-itm {
}
.items-itm {
}
.courses {
  // .courses__title
  &__title {
  }
  // .courses__items
  &__items {
  }
  // .courses__item
  &__item {
  }
}
.job {
  // .job__title
  &__title {
  }
  // .job__items
  &__items {
  }
}
.awards {
  // .awards__title
  &__title {
  }
  // .awards__items
  &__items {
  }
}

/* ==================================/spoiler========================================= */